[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "hassium-adapter"]
	path = hassium-adapter
	url = git@github.com:rodlogic/hassium-adapter.git
